.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
}

.fw-bold {
  width: 100%;
  font-size: 30px;
  font-weight: 600;
  justify-content: center;
}
.navbar-collapse {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0;
  padding: 0;
}

.car-body {
  width: 100%;
}

.display-5 {
  width: 100%;
  font-size: 50px;
  font-weight: 700;
  justify-content: center;
}
